body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgba(255, 255, 255, 0.9); /* Fundo branco com leve transparência */
    background-image: url('https://static.wixstatic.com/media/a29ff5_96a06cfe9acf468bb994dc8e51ce006c~mv2.png/v1/fit/w_2500,h_1330,al_c/a29ff5_96a06cfe9acf468bb994dc8e51ce006c~mv2.png');
    background-size: cover; /* Cobre toda a tela */
    background-position: center; /* Centraliza a imagem de fundo */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

section {
    padding: 20px;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.9); /* Leve transparência no fundo do formulário */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%; /* Ajusta a largura para dispositivos móveis */
    flex-grow: 1;
}

h2 {
    color: #333;
    text-align: center;
    margin: 20px 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input, form select, form button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form button {
    background: #333;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background: #555;
}

#instrumentosAdicionais {
    margin-top: 5px;
}

.instrumento-adicional {
    margin-top: 5px;
}

#adicionalInstrumentos {
    margin-top: 10px;
    margin-bottom: 10px;
}

#adicionalInstrumentos label {
    margin-bottom: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
    width: 100%;
    margin-top: auto;
}

/* Estilos para dispositivos móveis */
@media (max-width: 600px) {
    section {
        margin: 10px; /* Margem menor em dispositivos móveis */
        padding: 15px; /* Menos padding em dispositivos móveis */
        width: 95%; /* Aumenta a largura em dispositivos móveis */
    }

    form input, form select, form button {
        font-size: 16px; /* Aumenta o tamanho da fonte para melhor legibilidade */
    }

    h2 {
        font-size: 24px; /* Ajusta o tamanho do título em dispositivos móveis */
    }
}
